<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>covidMonitor</title>
        <link rel="stylesheet" href="{% static 'home.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Major+Mono+Display&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="page-content">
            <div class="overlay"><div id="particles-js"></div></div>
            <div class="page-header">
                <h1><a>covidMonitor</a></h1>
            </div>

            <div class="page-buttons">
                <div class="buttons-text"><h1><a>Alternative trees</a></h1></div>
                <div class="buttons-container">
                    <form id="button-1" action='/maps/button_complete/' enctype='multipart/form-data' method='GET'>
                        {% csrf_token %}
                        <button class="button" type="submit" style="margin: 1%;">Button 1</button>
                    </form>
                    <form id="button-2" action='/maps/button_2/' enctype='multipart/form-data' method='GET'>
                        {% csrf_token %}
                        <button class="button" type="submit" style="margin: 1%;">Button 2</button>
                    </form>
                    <form id="button-3" action='/maps/button_3/' enctype='multipart/form-data' method='GET'>
                        {% csrf_token %}
                        <button class="button" type="submit" style="margin: 1%;">Button 3</button>
                    </form>
                    <form id="button-4" action='/maps/button_4/' enctype='multipart/form-data' method='GET'>
                        {% csrf_token %}
                        <button class="button" type="submit" style="margin: 1%;">Button 4</button>
                    </form>
                </div>
            </div>

            <div class="page-filters">
                <div class="filters-text"><h1><a>Visualisations</a></h1></div>
                <div class="filters-container">
                    <form id="filter-1" action='/maps/filter_1/' enctype='multipart/form-data' method='GET'>
                        {% csrf_token %}
                        <button class="filter" type="submit" style="margin: 1%;">Filter 1</button>
                    </form>
                    <form id="filter-2" action='/maps/filter_2/' enctype='multipart/form-data' method='GET'>
                        {% csrf_token %}
                        <button class="filter" type="submit" style="margin: 1%;">Filter 2</button>
                    </form>
                    <form id="filter-3" action='/maps/filter_3/' enctype='multipart/form-data' method='GET'>
                        {% csrf_token %}
                        <button class="filter" type="submit" style="margin: 1%;">Filter 3</button>
                    </form>
                    <form id="filter-4" action='/maps/download/' enctype='multipart/form-data' method='GET'>
                        {% csrf_token %}
                        <button class="filter" type="submit" style="margin: 1%;">Download</button>
                    </form>
                </div>
            </div>

            <div class="page-map">
                <div class="image-header"><h1><a>Phylogenetic tree</a></h1></div>
                <div class="image-container">
                    <img src="{{ image }}"  width="100%">
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'particles.js' %}"></script>
        <script type="text/javascript" src="{% static 'app.js' %}"></script>
    </body>
</html>