
body {
    margin: 1% 1% 1% 1%;
    padding: 0;
    height: 100%;
    font-family: 'Major Mono Display', monospace;
}

div {
    background: rgba(0, 0, 0, 0);
}

canvas {
    display: block;
}

#button-1 {
    grid-row: 1;
    grid-column: 1;
}

#button-2 {
    grid-row: 1;
    grid-column: 2;
}

#button-3 {
    grid-row: 1;
    grid-column: 3;
}

#button-4 {
    grid-row: 1;
    grid-column: 4;
}

#filter-1 {
    grid-row: 1;
    grid-column: 1;
}

#filter-2 {
    grid-row: 2;
    grid-column: 1;
}

#filter-3 {
    grid-row: 3;
    grid-column: 1;
}

#filter-4 {
    grid-row: 4;
    grid-column: 1;
}

.overlay {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.page-content {
    display: grid;
    grid-template-rows: 18.75%  78.75%;
    grid-template-columns: 20% 79%;
    grid-row-gap: 2.5%;
    grid-column-gap: 1%;
    height: 100%;
    width: 100%;
}

.page-header {
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    height: 100%;
}

.page-buttons {
    text-align: center;
    display: grid;
    grid-template-rows:  50% 50%;
    grid-template-columns: 100%;
    grid-row: 1;
    grid-column: 2;
    height: 100%;
    grid-row-gap: 20%;
}

.buttons-text {
    display: inline-block;
    text-align: center;
    grid-row: 1;
    grid-column: 1;
    background: rgba(150, 150, 150, 0.5);
    margin-bottom: 0%;
}

.buttons-container {
    display: grid;
    grid-template-rows:  100%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-row: 2;
    grid-column: 1;

}

.page-filters {
    text-align: center;
    display: grid;
    margin-top: 6%;
    grid-template-rows: 15% 15% 15% 15% 15%;
    grid-template-columns: 100%;
    grid-row: 2;
    grid-column: 1;
    grid-row-gap: 5%;
    height: 100%;
}

.filters-text {
    text-align: center;
    grid-row: 1;
    grid-column: 1;
    background: rgba(150, 150, 150, 0.5);
    height: 120px;
}

.filters-container {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 100%;
    grid-row-gap: 75%;
    grid-row: 2;
    grid-column: 1;

}

.button, .filter {
    background: #008100;
    width: 95%;
    height: 60px;
    font-size: 150%;
    font-family: 'Comfortaa', cursive;
    color: #ffffff;
}

.button:hover, .filter:hover {
    background: rgb(0, 195, 0, 0.8);
    width: 95%;
    height: 60px;
    font-size: 150%;
    font-family: 'Comfortaa', cursive;
    color: #000000;
}

.page-map {
    margin-top: 5%;
    text-align: center;
    display: grid;
    grid-template-rows: 8px 120px 10px auto;
    grid-template-columns: 100%;
    grid-row: 2;
    grid-column: 2;
    height: 100%;
    margin-top: 1%;
}

.image-header {
    grid-row: 2;
    grid-column: 1;
    background: rgba(150, 150, 150, 0.5);
}

.image-container {
    grid-row: 4;
    grid-column: 1;
    margin-bottom: 1%;
}