
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#particles-js {
    height: 100%;
    background: #262626;
}

.page-content {
    display: grid;
    grid-template-rows: 18.75%  78.75%;
    grid-template-columns: 20% 79%;
    grid-row-gap: 2.5%;
    grid-column-gap: 1%;
    width: 100%;
}

.page-header {
    background-color: red;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    height: 100%;
}

.page-buttons {
    background-color: blue;
    text-align: center;
    display: grid;
    grid-template-rows:  50% 50%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
    height: 100%;
    grid-row-gap: 20%;
}

.buttons-text {
    display: inline-block;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 5;
}

.button-1 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

.button-2 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
}

.button-3 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
}

.button-4 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 4;
}

.page-filters {
    background-color: purple;
    text-align: center;
    display: grid;
    grid-template-rows: 15% 15% 15% 15% 15%;
    grid-template-columns: 100%;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-gap: 5%;
    height: 100%;
}

.filters-text {
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}

.filter-1 {
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

.filter-2 {
    text-align: center;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
}

.filter-3 {
    text-align: center;
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
}

.download-button {
    text-align: center;
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 1;
}

.page-map {
    background-color: yellow;
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    height: 100%;
}

.row-spacer {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 1%;
}

.image-container {
    margin-bottom: 1%;
}